<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pending list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        1{
        background-color:#31363F}
        .head{
        width:80px;
        }
        .decoration:link{
        color:white;
        }
        .decoration{
        text-decoration:none;
        padding:5px;
        border: 1px solid grey:
        color:white;
        background-color:#1B3C73;
        border-radius:5px;}
        .decoration:hover{
        box-shadow: 2px 2px 5px #5D8AA8;
        }
    </style>
</head>
<body class="bg-dark bg-gradient poppins-thin">
<nav class="navbar navbar-expand-lg navbar-light  bg-primary bg-gradient">
  <div class="container-fluid">
    <span class="navbar-brand text-white" >Admin Control</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white fs-5" aria-current="page" href="/pending">Pending</a>
        <a class="nav-link text-light" href="/editpage">Edit</a>
        <a class="nav-link text-light" href="/approved">Approved</a>
      </div>
    </div>
  </div>
</nav>
<center>
    <h2 class=" fs-1 text-white">Pending List</h2>
    <table class="table table-dark table-striped poppins-thin" border="2">
        <tr>
            <th >Id</th>
            <th >First Name</th>
            <th >Last Name</th>
            <th >Username</th>
            <th >Password</th>
            <th >Status</th>
            <th >Action</th>
        </tr>
                    {% for i in value%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.FIRSTNAME}}</td>
            <td>{{i.LASTNAME}}</td>
            <td>{{i.USERNAME}}</td>
            <td>{{i.PASSWORD}}</td>
            <td>{{i.Status}}</td>
            <td>
                <a class="decoration" href="/approve/{{i.id}}">Approve</a>
            </td>
        </tr>
                    {% endfor%}
    </table>
</center>
</body>
</html>